body{
	height: 100%;
	width: calc(100% - 8px);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
#banner{
	height:32px;
	width:100%;
}
#navigatie {
	height:32px;
	width:100%;
	display: flex;
}
#navigatie ul{
	flex-direction: row;
	justify-content: space-around;
	padding: 0px;
}
#page{
	width:100%;
}
#footer{
	height:32px;
	width:100%;
}
