html{
 height: 100%;
 width: 100%;
 overflow:auto;
}
body {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-between;
	height: 100%;
}
#register-page {
	display: flex;
	flex-direction:column;
	align-items: center;
	justify-content: center;
	height: 100%;
}
.content {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 100%;
}
#register-page .content #registerBox.inactive {
	display: none;
}
#register-page .content #registerBox.active {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}
#registerBox #header {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	background: #808080;
	color: #FFF;
}
#registerBox form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
input.email, input.password, input.naam, input.adres, input.password2 {
	border: none;
	margin: 8px;
	border-bottom: 1px solid #7F7F7F;
}
#registerBox form input#submit{
	padding: 8px;
}
#registerBox .extra {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin: 8px;
}
#registerBox .extra span {
	font-weight: 100;
	color: grey;
	font-size: 12px;
	margin: 4px 0px;
}
#footer{
	align-self: center;
}